%h1 Listing credit_card_networks

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @credit_card_networks.each do |credit_card_network|
      %tr
        %td= credit_card_network.name
        %td= link_to 'Show', credit_card_network
        %td= link_to 'Edit', edit_credit_card_network_path(credit_card_network)
        %td= link_to 'Destroy', credit_card_network, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Credit card network', new_credit_card_network_path
